---
import MainLayout from '../layouts/MainLayout.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PT Multyartha Indo Daya</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	<link rel="stylesheet" href="assets/css/feather.css">
    <!-- CSS dari public -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
 <body>

	
	<div class="main-wrapper">
	<MainLayout title="About-us">
		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-12">
						<h2 class="breadcrumb-title">Tentang Kami</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->
		
		<div class="content p-0">
		
			<!-- About -->
			<div class="about-sec">				
				<div class="container">				
					<div class="row align-items-center">				
						<div class="col-lg-6">
							<div>
								<div class="abt-img">
									<img src="assets/img/logo-pt.png" class="img-fluid" alt="img">
								</div>
							</div>
						</div>					
						<div class="col-lg-6">
							<div class="about-content">
								<h6>Tentang Perusahaan</h6>
								<h2>PT Multyartha Indo Daya</h2>
								<p>PT Multyartha Indo Daya adalah perusahaan yang bergerak di bidang jasa konstruksi yang meliputi pekerjaan land surveying, landscape, subgrade, cut and fill, pembangunan struktur bangunan, serta berbagai pekerjaan civil works. Dengan pengalaman dalam berbagai proyek pembangunan, perusahaan berkomitmen memberikan hasil pekerjaan yang berkualitas, tepat waktu, dan sesuai dengan kebutuhan klien.</p>
								<p>Didukung oleh tenaga kerja profesional serta peralatan konstruksi yang memadai, PT Multyartha Indo Daya terus berupaya menjadi mitra terpercaya dalam pembangunan proyek infrastruktur, properti, maupun industri di Indonesia.</p>
								<div class="row">
									<div class="col-md-6">
										<ul>

											<li>Berpengalaman dalam berbagai proyek konstruksi</li>
											<li>Didukung tenaga profesional dan peralatan lengkap</li>
										</ul>
									</div>
									<div class="col-md-6">
										<ul>
											<li>Mengutamakan kualitas, ketepatan waktu, dan keselamatan kerja</li>
											<li>Berkomitmen memberikan pelayanan terbaik kepada setiap klien</li>
										</ul>
									</div>
								</div>
							</div>
						</div>					
					</div>
				</div>
			</div>
			<!-- /About -->
		
            <!-- pricing Section -->
            <section class="service-section pricing-sections pt-0">			
                <div class="container">
                    <div class="section-heading">
                        <div class="row">
                            <div class="col-md-12 text-center aos" data-aos="fade-up">
                                <h2>Visi</h2>
                                <p>Menjadi perusahaan jasa konstruksi yang profesional, terpercaya, dan berdaya saing, serta mampu memberikan kontribusi dalam pembangunan infrastruktur dan properti di Indonesia.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /pricing Section -->

			<!-- Work Section -->
			<section class="work-section work-bg">			
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="section-heading">
								<h2>Misi</h2>
								<p>Komitmen kami dalam memberikan layanan konstruksi terbaik</p>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-md-4">
							<div class="work-box">
								<div class="work-icon">
									<span>
										<img src="assets/img/icons/find-icon.svg" alt="img">
									</span>
								</div>
								<h5>Kualitas Pekerjaan</h5>
								<p>Memberikan layanan konstruksi yang berkualitas dengan standar kerja yang tinggi untuk memastikan hasil proyek yang kuat, aman, dan tahan lama.</p>
								<h4>01</h4>
							</div>						
						</div>

						<div class="col-md-4">
							<div class="work-box">
								<div class="work-icon">
									<span>
										<img src="assets/img/icons/place-icon.svg" alt="img">
									</span>
								</div>
								<h5>Profesional & Tepat Waktu</h5>
								<p>Mengerjakan setiap proyek secara profesional dengan perencanaan yang baik agar pekerjaan dapat diselesaikan tepat waktu dan sesuai kebutuhan klien.</p>
								<h4>02</h4>
							</div>						
						</div>

						<div class="col-md-4">
							<div class="work-box">
								<div class="work-icon">
									<span>
										<img src="assets/img/icons/work-icon.svg" alt="img">
									</span>
								</div>
								<h5>Kepuasan Klien</h5>
								<p>Membangun hubungan kerja sama yang baik dengan klien dengan memberikan pelayanan terbaik serta hasil pekerjaan yang memuaskan bagi klien kami.</p>
								<h4>03</h4>
							</div>						
						</div>

					</div>
				</div>
			</section>
			<!-- /Work Section -->
			
			<!-- Providers Section -->
			<section class="providers-section abt-provider">			
				<div class="container">
					<div class="section-heading">
						<div class="row">
							<div class="col-md-6">					
								<h2>Struktur Organisasi</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-center">
							<img src="assets/img/so.png" class="img-fluid" alt="Struktur Organisasi">
						</div>
					</div>
				</div>
			</section>
			<!-- /Providers Section -->
			
            <!-- Service Section -->
			<section class="service-section populars-section">		
				<div class="container">
					<div class="services-header aos" data-aos="fade-up">
						<div class="row">
							<div class="col-md-12">
								<div class="section-content">
									<h2>Legalitas Perusahaan</h2>
								</div>
							</div>
						</div>
					</div>

					<div class="row aos" data-aos="fade-up">

						<!-- ITEM 1 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/1.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 2 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/2.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 3 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/3.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 4 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/4.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 5 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/5.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 6 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/6.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 7 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/7.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 8 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/8.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 9 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/9.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 10 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/10.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 11 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/11.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 12 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/12.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 13 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/13.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 14 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/14.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 15 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/15.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 16 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/16.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 17 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/17.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

						<!-- ITEM 18 -->
						<div class="col-lg-3 col-md-4 col-sm-6 col-12">
							<div class="service-widget">
								<div class="service-img legalitas-img">
									<img src="assets/img/legalitas/18.png" onclick="openImage(this.src)">
								</div>
								<div class="service-content popular-content"> </div>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- /Service Section -->
			</div>
		
			

			<!-- POPUP IMAGE -->
			<div id="imagePopup" class="image-popup">
				<span class="close-btn" onclick="closeImage()">×</span>
				<img id="popupImg">
			</div>

			<!-- Cursor -->
			<div class="mouse-cursor cursor-outer"></div>
			<div class="mouse-cursor cursor-inner"></div>
			<!-- /Cursor -->	
			</MainLayout>
		</div>

		<style>
		.image-popup{
			display:none;
			position:fixed;
			z-index:9999;
			left:0;
			top:0;
			width:100%;
			height:100%;
			background:rgba(0,0,0,0.9);
			text-align:center;
		}

		.image-popup img{
			max-width:90%;
			max-height:90%;
			margin-top:5%;
		}

		.close-btn{
			position:fixed;
			top:15px;
			right:20px;
			color:white;
			font-size:36px;
			cursor:pointer;
			background:rgba(0,0,0,0.6);
			border-radius:50%;
			width:44px;
			height:44px;
			display:flex;
			align-items:center;
			justify-content:center;
			line-height:1;
			z-index:10000;
		}
		</style>

		<script is:inline>
		function openImage(src){
			document.getElementById("imagePopup").style.display="block";
			document.getElementById("popupImg").src=src;
		}

		function closeImage(){
			document.getElementById("imagePopup").style.display="none";
		}
		</script>
	
	<!-- jQuery -->
	<script src="/assets/js/jquery-3.6.1.min.js" is:inline></script>

	<!-- Bootstrap Core JS -->
	<script src="/assets/js/bootstrap.bundle.min.js" is:inline></script>

	<!-- Fearther JS -->
	<script src="/assets/js/feather.min.js" is:inline></script>
		
	<!-- Owl Carousel JS -->
	<script src="/assets/js/owl.carousel.min.js" is:inline></script>

	<!-- select JS -->
	<script src="/assets/plugins/select2/js/select2.min.js" is:inline></script>

	<!-- Custom JS -->
	<script src="/assets/js/script.js" is:inline></script>	
	
</body>
</html>