---
import MainLayout from '../layouts/MainLayout.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PT Multyartha Indo Daya</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	
    <link rel="stylesheet" href="assets/css/feather.css">
    
    <!-- CSS dari public -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="/assets/css/style.css" />
    
    <!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <!-- select CSS -->
	<link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
		
	<!-- Owl carousel CSS -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	
	<!-- Aos CSS -->
	<link rel="stylesheet" href="/assets/plugins/aos/aos.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">
  </head>
 <body>

	
	<div class="main-wrapper">
	<MainLayout title="Technoplex">
	<!-- Hero Section -->
		<section class="hero-section-nine">			
			<div class="container">
				<div class="home-banner home-banner-nine">
					<div class="row align-items-center w-100">
						<div class="col-lg-6">

							<div class="banner-imgs banner-imgs-nine">
								<div class="banner-1 shape-1">
									<img class="img-fluid" alt="banner" src="assets/img/technbanner-3.png">
								</div>
								<div class="banner-2 shape-3">
									<img class="img-fluid" alt="banner" src="assets/img/techbanner-1.png">
								</div>
								<div class="banners-3 shape-3">
									<img class="img-fluid" alt="banner" src="assets/img/techbanner-2.png">
								</div>
								<div class="banner-4 shape-2">
									<img class="img-responsive" alt="banner" src="assets/img/technbanner-4.png">
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-10 mx-auto">
							<div class="section-search section-search-nine aos" data-aos="fade-up">
								<div class="arrow-ryt-all">
									<h6>Selamat Datang</h6>
									<div class="arrow-ryt">
										<img src="assets/img/icons/arrow-nine.svg" alt="">
									</div>
								</div>
								<h1>Technoplex Living Bandung</h1>
								<p>The First Fully Furnished Apartment in Telkom University Area dengan konsep One Stop Living.</p>
								<div class="banner-appointment-nine">
									<div class="banner-appointment-content">
										<p>Punya pertanyaan ?</p>
										<h5>Hubungi Kami: 0895-7019-46800</h5>
									</div>
								</div>
								<a href='https://wa.me/62895701946800' class="btn btn-primary appoints-btn mt-3">Konsultasi</a>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</section>
		<!-- /Hero Section -->


		<!-- Safety is out first Priority -->
		<section class="safety-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="safety-first-all">
							<div class="section-heading safety-heading-nine aos" data-aos="fade-up">
								<h2>Investasi Properti Terbaik</h2>
							</div>
							<p class="safety-para">Bandung Technoplex Living merupakan pilihan investasi properti yang menjanjikan di Kota Bandung. Berlokasi strategis di kawasan pendidikan Telkom University, apartemen ini memiliki potensi permintaan tinggi dari mahasiswa, dosen, dan profesional muda yang membutuhkan hunian modern dan nyaman.</p>
							<p class="safety-para-two">Didukung oleh pengembang terpercaya serta keterlibatan Telkom Group dalam ekosistem proyek, Bandung Technoplex Living menawarkan nilai investasi jangka panjang yang stabil. Dengan fasilitas modern dan lingkungan yang berkembang pesat, properti ini menjadi peluang investasi yang menarik sekaligus solusi hunian berkualitas.</p>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-6">
								<div class="safety-ryt-main">
									<img src="assets/img/techno-1.png" alt="" class="img-fluid">
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-6">
								<div class="safety-ryt-main">
									<img src="assets/img/techno-2.png" alt="" class="img-fluid">
								</div>
							</div>

							<div class="col-12">
								<div class="safety-ryt-main">
									<ul class="custom-list">
										<li>
											<i class="feather-check"></i>
											<span>Fully Furnished Unit</span>
										</li>
										<li>
											<i class="feather-check"></i>
											<span>Lokasi Strategis (3 Menit ke Kampus)</span>
										</li>
										<li>
											<i class="feather-check"></i>
											<span>Potensi Sewa Tinggi (32.000+ Mahasiswa)</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Safety is out first Priority -->

		<!-- Our Services -->
		<section class="service-nine-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="section-heading section-heading-nine aos" data-aos="fade-up">
							<p>FASILITAS</p>
							<h2>Unggulan</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel service-nine-slider">
							<div class="service-widget service-widget-nine aos" data-aos="fade-up">
								<div class="service-img">
									<a href="service-details.html">
										<img class="img-fluid serv-img" alt="Service Image"
											src="assets/img/services/service-70.jpg" alt="image">
									</a>
								</div>
								<div class="service-content service-feature-nine">
									<div class="shop-content-logo">
										<img src="assets/img/icons/car-service-icon-1.svg" alt="">
									</div>
									<span>25 Mechanics</span>
									<p>Alfresco Dining</p>
								</div>
							</div>
							<div class="service-widget service-widget-nine aos" data-aos="fade-up">
								<div class="service-img">
									<a href="service-details.html">
										<img class="img-fluid serv-img" alt="Service Image"
											src="assets/img/services/service-71.jpg" alt="image">
									</a>
								</div>
								<div class="service-content service-feature-nine">
									<div class="shop-content-logo">
										<img src="assets/img/icons/car-service-icon-2.svg" alt="">
									</div>
									<span>15 Mechanics</span>
									<p>Gym</p>
								</div>
							</div>
							<div class="service-widget service-widget-nine aos" data-aos="fade-up">
								<div class="service-img">
									<a href="service-details.html">
										<img class="img-fluid serv-img" alt="Service Image"
											src="assets/img/services/service-72.jpg" alt="image">
									</a>
								</div>
								<div class="service-content service-feature-nine">
									<div class="shop-content-logo">
										<img src="assets/img/icons/car-service-icon-1.svg" alt="">
									</div>
									<span>30 Mechanics</span>
									<p>Jogging Track</p>
								</div>
							</div>
							<div class="service-widget service-widget-nine aos" data-aos="fade-up">
								<div class="service-img">
									<a href="service-details.html">
										<img class="img-fluid serv-img" alt="Service Image"
											src="assets/img/services/service-73.jpg" alt="image">
									</a>
								</div>
								<div class="service-content service-feature-nine">
									<div class="shop-content-logo">
										<img src="assets/img/icons/car-service-icon-3.svg" alt="">
									</div>
									<span>17 Mechanics</span>
									<p>Medical Center</p>
								</div>
							</div>
							<div class="service-widget service-widget-nine aos" data-aos="fade-up">
								<div class="service-img">
									<a href="service-details.html">
										<img class="img-fluid serv-img" alt="Service Image"
											src="assets/img/services/service-70.jpg" alt="image">
									</a>
								</div>
								<div class="service-content service-feature-nine">
									<div class="shop-content-logo">
										<img src="assets/img/icons/car-service-icon-1.svg" alt="">
									</div>
									<span>25 Mechanics</span>
									<p>Minimart</p>
								</div>
							</div>
							<div class="service-widget service-widget-nine aos" data-aos="fade-up">
								<div class="service-img">
									<a href="service-details.html">
										<img class="img-fluid serv-img" alt="Service Image"
											src="assets/img/services/service-70.jpg" alt="image">
									</a>
								</div>
								<div class="service-content service-feature-nine">
									<div class="shop-content-logo">
										<img src="assets/img/icons/car-service-icon-1.svg" alt="">
									</div>
									<span>25 Mechanics</span>
									<p>Laundry</p>
								</div>
							</div>
							<div class="service-widget service-widget-nine aos" data-aos="fade-up">
								<div class="service-img">
									<a href="service-details.html">
										<img class="img-fluid serv-img" alt="Service Image"
											src="assets/img/services/service-70.jpg" alt="image">
									</a>
								</div>
								<div class="service-content service-feature-nine">
									<div class="shop-content-logo">
										<img src="assets/img/icons/car-service-icon-1.svg" alt="">
									</div>
									<span>25 Mechanics</span>
									<p>Security 24 Jam</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		<!-- /Our Services -->

		<!-- Services Section -->
		<section class="services-section">
			<div class="container">
				<div class="services-header aos" data-aos="fade-up">
					<div class="row">
						<div class="col-md-12">
							<div class="section-content">
								<h2>Tipe Unit</h2>
								<p>Berikut beberapa tipe unit yang kami tawarkan.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel services-slider aos" data-aos="fade-up">
							<div class="services-all">
								<div class="services-main-img">
									<a href="">
										<img class="img-fluid serv-image" alt="Service Image" src="assets/img/services/1.jpeg">
									</a>
									<div class="service-foot">
										<h4>Alyysum</h4>
										<h6>24.10m²</h6>
									</div>
								</div>
							</div>
							<div class="services-all">
								<div class="services-main-img">
									<a href="">
										<img class="img-fluid serv-image" alt="Service Image" src="assets/img/services/2.jpeg">
									</a>
									<div class="service-foot">
										<h4>Ambrosia</h4>
										<h6>26.31m²</h6>
									</div>
								</div>
							</div>
							<div class="services-all">
								<div class="services-main-img">
									<a href="">
										<img class="img-fluid serv-image" alt="Service Image" src="assets/img/services/3.jpeg">
									</a>
									<div class="service-foot">
										<h4>Ivy</h4>
										<h6>48.99m²</h6>
									</div>
								</div>
							</div>
							<div class="services-all">
								<div class="services-main-img">
									<a href="">
										<img class="img-fluid serv-image" alt="Service Image" src="assets/img/services/4.jpeg">
									</a>
									<div class="service-foot">
										<h4>Irish</h4>
										<h6>51.26m²</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sidecircle-ryt">
				<img src="assets/img/side-circle.png">
			</div>
		</section>
		<!-- /service Section -->

		<section class="journey-nine-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="section-heading section-heading-nine journey-heading-nine aos" data-aos="fade-up">
							<p></p>
							<h2>Statistik</h2>
						</div>
					</div>
					<div class="col-lg-2 d-flex justify-content-center align-items-center">
						<div class="journey-client-all">
							<div class="journey-client-main">
								<h2>1.900<span>+</span></h2>
								<h5>Unit</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-2 d-flex justify-content-center align-items-center">
						<div class="journey-client-all">
							<div class="journey-client-main">
								<h2>32.000<span>+</span></h2>
								<h5>Calon Tenant</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-2 d-flex justify-content-center align-items-center">
						<div class="journey-client-all">
							<div class="journey-client-main">
								<h2>2<span></span></h2>
								<h5>Tower</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-2 d-flex justify-content-center align-items-center">
						<div class="journey-client-all">
							<div class="journey-client-main">
								<h2>10<span>+</span></h2>
								<h5>Lantai</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Why Choose Us -->
		<section class="choose-nine-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="section-heading section-heading-nine aos" data-aos="fade-up">
							<p>ALASAN</p>
							<h2>Kenapa Technoplex Living Bandung ?</h2>
						</div>
					</div>
				</div>
				<div class="row justify-content-center" style="display: flex !important; flex-wrap: wrap !important; align-items: stretch !important;">
					<div class="col-lg-3 col-md-4 col-sm-6 col-12" style="display: flex;">
						<div class="reasonable-all" style="display:flex !important; flex-direction:column !important; align-items:center !important; text-align:center !important; width:100% !important; height:auto !important; min-height:unset !important;">
							<img src="assets/img/icons/choose-icon-4.svg" alt="">
							<h5>Proyek Sudah Memiliki Progress Pembangunan Nyata</h5>
							<p>Struktur bangunan proyek sudah mencapai 100% dan pekerjaan finishing arsitektur telah mencapai sekitar 80%. Hal ini menunjukkan bahwa proyek sudah berjalan nyata dan mengurangi risiko bagi calon pembeli maupun investor.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12" style="display: flex;">
						<div class="reasonable-all expert-all" style="display:flex !important; flex-direction:column !important; align-items:center !important; text-align:center !important; width:100% !important; height:auto !important; min-height:unset !important;">
							<img src="assets/img/icons/choose-icon-3.svg" alt="">
							<h5>Lokasi Strategis Dekat Telkom University</h5>
							<p>Bandung Technoplex Living berlokasi sangat dekat dengan Telkom University yang merupakan salah satu universitas swasta terbaik di Indonesia. Lokasi ini menjadikannya sangat strategis bagi mahasiswa, dosen, maupun investor properti yang menargetkan pasar pendidikan.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12" style="display: flex;">
						<div class="reasonable-all delivery-all" style="display:flex !important; flex-direction:column !important; align-items:center !important; text-align:center !important; width:100% !important; height:auto !important; min-height:unset !important;">
							<img src="assets/img/icons/choose-icon-2.svg" alt="">
							<h5>Didukung oleh Ekosistem Telkom Group</h5>
							<p>Proyek ini melibatkan berbagai pihak dari Telkom Group seperti Yayasan Pendidikan Telkom sebagai pemilik lahan, Telkom University sebagai target market utama, serta PT Telekomunikasi Indonesia yang berperan dalam pekerjaan mekanikal dan elektrikal. Hal ini memberikan kredibilitas serta kepercayaan tinggi terhadap proyek ini.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-12" style="display: flex;">
						<div class="reasonable-all workshop-all" style="display:flex !important; flex-direction:column !important; align-items:center !important; text-align:center !important; width:100% !important; height:auto !important; min-height:unset !important;">
							<img src="assets/img/icons/choose-icon-1.svg" alt="">
							<h5>Dikerjakan oleh Kontraktor Terpercaya</h5>
							<p>Pembangunan struktur dan arsitektur proyek ini dikerjakan oleh PT PP Persero Tbk bersama kontraktor lainnya. Perusahaan konstruksi besar tersebut memiliki pengalaman luas dalam pembangunan proyek skala besar sehingga kualitas pembangunan lebih terjamin.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Why Choose Us? -->

		<!-- Customer Reviews -->
		<section class="customer-review-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="section-heading section-heading-nine aos" data-aos="fade-up">
							<p></p>
							<h2>Penilaian</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel customer-review-slider">
							<div class="customer-reviews-all">
								<h4>Budi Santoso</h4>
								<span>Mahasiswa Telkom University</span>
								<div class="rating">
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
								</div>
								<p>Tinggal di Technoplex Living sangat nyaman. Jarak ke kampus hanya 3 menit jalan kaki, fasilitas lengkap, dan unitnya sudah fully furnished. Sangat membantu saya fokus kuliah tanpa repot mikirin perabot.</p>
							</div>
							<div class="customer-reviews-all">
								<h4>Rina Marlina</h4>
								<span>Dosen Telkom University</span>
								<div class="rating">
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fa-solid fa-star-half-stroke filled"></i>
								</div>
								<p>Sebagai dosen yang setiap hari ke kampus, lokasi Technoplex Living sangat ideal. Keamanan 24 jam dan fasilitas seperti gym dan jogging track membuat hidup lebih seimbang. Investasi yang sangat worth it!</p>
							</div>
							<div class="customer-reviews-all">
								<h4>Hendra Wijaya</h4>
								<span>Investor Properti, Jakarta</span>
								<div class="rating">
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
									<i class="fas fa-star filled"></i>
								</div>
								<p>Saya membeli 2 unit sebagai investasi. Dengan 32.000+ mahasiswa sebagai potensi tenant dan lokasi persis di samping Telkom University, tingkat huniannya sangat tinggi. Return investasi terasa nyata dari bulan pertama.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Customer Reviews -->

		<!-- Our Blogs -->
		<section class="blogs-nine-section" style="margin-bottom: 60px;">
			<div class="container">
				<div class="free-service-all">
					<div class="row aos" data-aos="fade-up">
						<div class="col-lg-6 col-12">
							<div class="free-service-nine" style="margin-top: 0 !important;">
								<div class="free-service-img-one">
									<img src="assets/img/techfooter-1.png" alt="">
								</div>
								<div class="free-service-img-two">
									<img src="assets/img/techfooter-2.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="free-service-bottom-content">
								<div class="section-heading section-heading-nine free-heading-nine aos" data-aos="fade-up">
									<p>Welcome to Bandung Technoplex Living</p>
									<h2>Your Home, Right Next to Campus</h2>
								</div>
								<p>Fully furnished apartments just 3 minutes from Telkom University — the perfect place to live, study, and invest.</p>
								<a href='https://wa.me/62895701946800' class="btn btn-primary">Hubungi Kami</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Our Blogs -->

		  <section class="blog-section partner-section-nine">
			<div class="container">
			  <div class="row">
				<div class="owl-carousel quote-slider aos" data-aos="fade-up">
				  <div class="partner-img">
					<img src="assets/img/partner/partner1.svg" alt="img" />
				  </div>
				  <div class="partner-img">
					<img src="assets/img/partner/partner2.svg" alt="img" />
				  </div>
				  <div class="partner-img">
					<img src="assets/img/partner/partner3.svg" alt="img" />
				  </div>
				  <div class="partner-img">
					<img src="assets/img/partner/partner4.svg" alt="img" />
				  </div>
				  <div class="partner-img">
					<img src="assets/img/partner/partner5.svg" alt="img" />
				  </div>
				  <div class="partner-img">
					<img src="assets/img/partner/partner6.svg" alt="img" />
				  </div>
				</div>
			  </div>
			</div>
		  </section>
	</MainLayout>
	</div>
	
	<!-- jQuery -->
	<script src="/assets/js/jquery-3.6.1.min.js" is:inline></script>

	<!-- Bootstrap Core JS -->
	<script src="/assets/js/bootstrap.bundle.min.js" is:inline></script>

	<!-- Fearther JS -->
	<script src="/assets/js/feather.min.js" is:inline></script>
		
	<!-- Owl Carousel JS -->
	<script src="/assets/js/owl.carousel.min.js" is:inline></script>

	<!-- select JS -->
	<script src="/assets/plugins/select2/js/select2.min.js" is:inline></script>
    
	<!-- Aos -->
	<script src="/assets/plugins/aos/aos.js" is:inline></script>
		
	<!-- Slick JS -->
	<script src="/assets/js/slick.js" is:inline></script>
	
	<!-- Top JS -->
	<script src="/assets/js/backToTop.js" is:inline></script>

	<!-- Custom JS -->
	<script src="/assets/js/script.js" is:inline></script>	
	
</body>
</html>